<div class="block person-list">
    <div class="container">
        <div class="people{% if section.display == 'Two per row' %} two-column{% elsif section.display == 'Five max per row' %} five-column{% endif %}">
            {% for person in section.people %}<div class="person">{% if person.person_photo %}{% unless person.person_photo == empty%}{% assign image_url = person.person_photo %}{% else %}{% assign image_url = '/img/headshot-placeholder.png' %}{% endunless %}{% else %}{% assign image_url = '/img/headshot-placeholder.png' %}{% endif %}
                <img src="{{ image_url | relative_url }}" alt="Photo of {{ person.person_name }}">
                <div class="details">
                    <p class="person-name">{{ person.person_name }}</p>
                    {% if person.person_organisation or person.person_title %}{% unless person.person_organisation == empty and person.person_title == empty %}<p><span class="person-title">{{ person.person_title}}</span> <span class="person-organisation">{{ person.person_organisation }}</span></p>{% endunless %}{% endif %}
                    {% if person.person_bio %}{% unless person.person_bio == empty %}<div class="bio">
                        {{ person.person_bio | markdownify }}
                    </div>{% endunless %}{% endif %}
                </div>
                {% if person.person_bio %}{% unless person.person_bio == empty %}<button class="show-bio">Bio</button>{% endunless %}{% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
