.post-list {
    .post-date {
        margin-top: 3rem;
        margin-bottom: 0;
        font-size: 1rem;
    }
    .post-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.4rem;
    }
    .post-author {
        margin-top: 0;
    }
}